################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj/Debug
/GitDemo/bin
/GitDemo/obj/Debug
/packages/Microsoft.Net.Compilers.1.0.0/tools
